# Copy this to .env when developing and replace with your values
VITE_GOOGLE_CLIENT_ID=383406826534-8al6042a0n42itk48fpis06m0r81ip8k.apps.googleusercontent.com
VITE_GOOGLE_REDIRECT_URI=http://localhost:5173/auth/callback
